<app-uncertainty-form-dots
  (emitDots)="emitDotsQuantity($event)"
  (emitSquareValue)="emitSquareValue($event)"
  (emitUncertaintyType)="emitUncertaintyType($event)"
  [uncertaintyTypes]="uncertaintyTypes"
></app-uncertainty-form-dots>
<app-keo-dots-form
  [currentKeoType]="illumination_type"
  [isKeoBlocked]="isKeoBlockLocked"
  (emitKeoChanges)="getKeoMeasurements($event)"
></app-keo-dots-form>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Закрыть</button>
  <button nz-button nzType="primary" (click)="handleOk()" [disabled]="true">
    Cохранить
  </button>
</div>
