<div nz-row [nzGutter]="[16, 32]">
  <div nz-col nzSpan="12">
    <button
      nz-button
      nzType="primary"
      (click)="createIlluminationModal()"
      class="button"
    >
      illumination modal
    </button>
  </div>
  <div nz-col nzSpan="12" class="button">
    <button
      nz-button
      nzType="primary"
      (click)="createIlluminationModal()"
      class="button"
    >
      Second modal
    </button>
  </div>
</div>
<div nz-row [nzGutter]="[16, 32]">
  <div nz-col nzSpan="12">
    <button
      nz-button
      nzType="primary"
      (click)="createIlluminationModal()"
      class="button"
    >
      Third modal
    </button>
  </div>
  <div nz-col nzSpan="12">
    <button
      nz-button
      nzType="primary"
      (click)="createIlluminationModal()"
      class="button"
    >
      Fourth modal
    </button>
  </div>
</div>
