<form [formGroup]="uncertaintyForm" nz-form nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="4">
      <span nz-typography nzType="secondary">Неопределенность</span>
    </nz-form-label>
    <nz-form-control>
      <nz-select
        nzShowSearch
        formControlName="uncertainty_type"
        (ngModelChange)="emitChosenUncertaintyType($event)"
      >
        <nz-option
          *ngFor="let type of uncertaintyTypes"
          [nzValue]="type.value"
          [nzLabel]="type.name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>
      <span nz-typography nzType="secondary">Коэффициент охвата</span>
    </nz-form-label>
    <nz-form-control>
      <nz-input-number
        style="width: 100%"
        [nzMin]="0"
        [nzStep]="1"
        formControlName="coverage_rate"
      >
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>
</form>
