<div>
  <button nz-button nzType="primary" (click)="addMeasureGroup()">
    <span nz-icon nzType="edit" nzTheme="outline"></span>
  </button>
</div>
<form *ngIf="getForm" [formGroup]="getForm" nz-form nzLayout="vertical">
  <ng-container
    formArrayName="measurements"
    *ngFor="let measureGroup of getAirMeasurements.controls; let i = index"
  >
    <nz-collapse nzGhost>
      <nz-collapse-panel
        [formGroup]="measureGroup"
        *ngFor="
          let tableGroup of getAirMeasurementsBlocks;
          trackBy: provideUnique
        "
        [nzHeader]="tableGroup.name"
        [nzActive]="tableGroup.value === airBlocks.middle"
        [nzDisabled]="tableGroup.value !== airBlocks.middle && !fullDuty"
      >
        <table
          [cellPadding]="10"
          [cellSpacing]="10"
          [formGroup]="measureGroup.get(tableGroup.value | stringPipe)"
        >
          <thead>
            <ng-container
              *ngFor="
                let airBlock of measureGroup.value[tableGroup.value] | keyvalue;
                trackBy: provideUnique
              "
              [formGroupName]="airBlock.key | stringPipe"
            >
              <tr *ngIf="airBlock.key === 'measures'">
                <th></th>
                <th class="th" *ngFor="let airBlock of getRowsTitle">
                  <nz-form-item>
                    <nz-form-text>{{ airBlock }} м </nz-form-text>
                  </nz-form-item>
                </th>
                <th></th>
              </tr>
            </ng-container>
          </thead>

          <tbody>
            <ng-container
              *ngFor="let airBlock of getRows; trackBy: provideUnique"
              [formGroupName]="airBlock"
            >
              <ng-container [ngSwitch]="airBlock">
                <ng-container *ngSwitchCase="'measures'">
                  <tr
                    *ngFor="
                      let row of getMeasureRows;
                      let rowIndex = index;
                      trackBy: provideUnique
                    "
                  >
                    <td>
                      <nz-form-item>
                        <nz-form-label nzNoColon
                          >Изм. {{ rowIndex + 1 }}</nz-form-label
                        >
                      </nz-form-item>
                    </td>
                    <td
                      *ngFor="
                        let col of measureGroup.value[tableGroup.value][
                          airBlock
                        ] | keyvalue;
                        trackBy: uniqueObjectKey;
                        let colIndex = index
                      "
                      [formArrayName]="col.key | stringPipe"
                    >
                      <nz-form-item>
                        <nz-form-label nzNoColon></nz-form-label>
                        <nz-form-control>
                          <nz-input-number
                            (ngModelChange)="
                              onDotValueChange(
                                i,
                                tableGroup.value,
                                colIndex,
                                col.key
                              )
                            "
                            [formControlName]="rowIndex"
                            [nzMin]="1"
                            [nzMax]="10"
                            [nzStep]="0.01"
                          ></nz-input-number>
                        </nz-form-control>
                      </nz-form-item>
                    </td>
                    <td>
                      <button
                        *ngIf="getMeasureRows.length > 3"
                        nz-button
                        nzType="primary"
                        (click)="removeMeasureGroup(rowIndex)"
                        nzDanger
                      >
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                      </button>
                    </td>
                  </tr>
                </ng-container>
                <tr *ngSwitchCase="'averageMeasure'">
                  <td>Среднее за период</td>
                  <td
                    *ngFor="
                      let average of measureGroup.value[tableGroup.value][
                        airBlock
                      ];
                      let colIndex = index;
                      trackBy: provideUnique
                    "
                  >
                    <nz-input-number
                      nzDisabled
                      [formControlName]="colIndex"
                      [nzFormatter]="getFixedValue"
                      [nzStep]="0.01"
                      [nzMin]="1"
                    ></nz-input-number>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-divider></nz-divider>
  </ng-container>
</form>
